<ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
    <button
      class="button button-clear button-icon icon ion-ios-arrow-back backbutton"
      nav-direction="back"
      ng-click="goBack(true)">
      Back
    </button>
  </ion-nav-buttons>
  <ion-content class="has-tabs-top">
    <div class="Banner" ng-class="Shop.merchant.category.get('name').toLowerCase()">
      <img class="Banner-logo Logo" ng-src="{{Shop.merchant.imageURL}}"/>
      <div class="Banner-details">
        <h2 class="Banner-title">{{Shop.merchant.name}}</h2>
        <p class="Banner-subtitle">{{Shop.address}}</p>
        <p class="Banner-description" on-tap="Shop.openUrl()">{{Shop.description}}</p>
      </div>
    </div>
    <div
      class="Perk cf"
      ng-class="{
        'intro': perk.get('isIntroPerk'),
        'pending': ShopPerks.isPending(perk)
      }"
      ng-repeat="perk in ShopPerks.perks | orderBy: ShopPerks.isIntroPerk | filter: ShopPerks.shouldDisplay"
    >
      <div ng-if="!ShopPerks.showInfo[perk.id]">
        <div class="Perk-flare" ng-if="perk.get('isIntroPerk')">
          <span class="Perk-flare-icon"></span>
          <span class="Perk-flare-text">Bonus reward</span>
        </div>
        <h3 class="Perk-name">{{perk.get('name')}}</h3>
        <div class="Perk-flare right"
             ng-if="perk.get('description')"
             on-tap="ShopPerks.showInfo[perk.id] = true"
        >
          <span class="Perk-flare-icon text">
            <span class="ion ion-information-circled"></span>
          </span>
        </div>
        <div class="Perk-stamps" ng-if="!perk.get('isIntroPerk')">
          <div class="Perk-stamp"
               ng-class="{achieved: ShopPerks.openPerks[perk.id] && (i <= ShopPerks.openPerks[perk.id].get('stampCount')), final: $last}"
               ng-repeat="i in ShopPerks.getNumberArray(perk)"
          ></div>
        </div>
        <button class="Button positive outline pull-right"
                ng-if="!perk.get('isIntroPerk') && !ShopPerks.isPending(perk)"
                ng-click="ShopPerks.checkIn(perk)"
        ><span class="icon ion-chevron-right"></span> I'm here, check me in</button>
        <button class="Button disabled outline pull-right"
                ng-if="ShopPerks.isPending(perk)"
        >Pending merchant approval</button>
        <button class="Button positive pull-right"
                ng-if="perk.get('isIntroPerk') && !ShopPerks.isPending(perk)"
                ng-click="ShopPerks.checkIn(perk)"
        >I'm here, redeem now</button>
      </div>
      <div ng-if="ShopPerks.showInfo[perk.id]">
        <div class="Perk-flare right"
             on-tap="ShopPerks.showInfo[perk.id] = false">
          <span class="Perk-flare-icon text">
            <span class="ion ion-close-circled"></span>
          </span>
        </div>
        <p class="Perk-description">{{perk.get('description')}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>